@import "../../styles/functions";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

.title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.804);
}

.subtext {
    padding: 2rem;
    text-decoration: underline;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.804);
}

.fieldContainer {
    display: flex;
    flex-direction: column;
}

input {
    padding: .8rem;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.734);
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin: 0 0 1rem 0;
}

label {
    color: rgba(255, 255, 255, 0.804);
    margin: 1rem 0 0 0 0;
}